{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>MCB OFX naar Quickbooks OFX</h1>
    <p>Je kunt (als particulier) je transacties van de Rabobank downloaden als CSV. Let erop dat je alleen 'afgesloten
        dagen' in het verleden kunt kiezen. Dit script ondersteunt zowel betaalrekeningen als creditcards.</p>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="myfile">
        <button type="submit">Upload</button>
    </form>
</div>

{% endblock %}