{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>Orco bank OFX naar Quickbooks OFX</h1>
    <p>Ga naar je Orco bank, kies de juiste dagen, en download als OFX file. </p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="myfile">
        <button type="submit">Upload</button>
    </form>

    <hr>
    <p> De MCDEBIT transacties worden weg gefilterd, dat zijn transacties die nog in behandeling zijn en die komen later weer terug als definitief.</p>
    <p>Bijzonder aan de Orco OFX is dat ze geen naam van de tegenpartij leveren (en die vereist quickbooks wel), maar
        deze wordt deels verwerkt in het omschrijving veld. Dit script voegt een lege naam toe. Daarnaast wordt de
        valuta XCG omgezet naar ANG, want Quickbooks en Xero hebben beiden nog geen ondersteuning voor de XCG.</p>
</div>
{% endblock %}