{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>Orco bank OFX naar Quickbooks OFX</h1>
    <p>Ga naar je Orco bank, kies de juiste dagen, en download als OFX file. </p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="myfile">
        <button type="submit">Upload</button>
    </form>

    <hr>
    <p> Let erop dat je de MCDEBIT transacties niet
        wil zien, dat zijn transacties die nog in behandeling zijn. Deze verdwijnen weer over een paar dagen en komen
        dan terug als definitieve. </p>
    <p>Bijzonder aan de Orco OFX is dat ze geen naam van de tegenpartij leveren (en die vereist quickbooks wel), maar
        deze wordt deels verwerkt in het omschrijving veld. Dit script voegt een lege naam toe. Daarnaast wordt de
        valuta XCG omgezet naar ANG, want Quickbooks en Xero hebben beiden nog geen ondersteuning voor de XCG.</p>
</div>
{% endblock %}